<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<script src="layui/layui.all.js"></script>
<h1 class="layui-header">Hello world</h1>
<div class="wrap_login">
    <form class="login_form">
        <span class="login_title">
            Gallery
        </span>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="first-name" class="input100" type="text" name="username" placeholder="User name">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
            <input class="input100" type="password" name="pass" placeholder="Password">
            <span class="focus-input100"></span>
        </div>
    </form>
</div>
</body>
</html>